---
import MainLayout from "@/layouts/MainLayout.astro";
import { getLaunchBy, getLaunches } from "@/lib/spacex";
import type { Doc } from "@/types/api";

const { id } = Astro.params;

let launch;

if (id) {
  launch = await getLaunchBy({ id });
}

export async function getStaticPaths() {
  const launches = (await getLaunches()) as Doc[];

  return launches.map((launch) => ({
    params: {
      id: launch?.id,
    },
  }));
}
---

<MainLayout title={launch ? launch.name : "Loading..."}>
  <article
    class="flex flex-col md:flex-row items-center justify-around bg-gray-800 p-6 rounded-lg shadow-xl"
  >
    <img
      src={launch?.links.patch.small
        ? launch?.links.patch.small
        : "https://cdn.dribbble.com/users/610788/screenshots/5157282/spacex.png"}
      class="w-52 h-52 md:w-72 md:h-72 rounded-lg"
    />
    <div class="flex flex-col gap-y-4 ml-0 md:ml-6">
      <h1 class="text-4xl text-white font-bold">{launch?.name}</h1>
      <p class="text-lg text-gray-300">{launch?.details}</p>
      <p class="text-lg text-gray-300">
        Fecha de Lanzamiento: {
          new Date(String(launch?.date_utc)).toLocaleString()
        }
      </p>
      <p class="text-lg text-gray-300">
        Número de Vuelo: {launch?.flight_number}
      </p>
      <p class="text-lg text-gray-300">
        Éxito: {launch?.success ? "Sí" : "No"}
      </p>
      <p class="text-lg text-gray-300">Cohete: {launch?.rocket}</p>
      <p class="text-lg text-gray-300">
        Plataforma de Lanzamiento: {launch?.launchpad}
      </p>
      {
        (launch?.failures?.length ?? 0) > 0 && (
          <div>
            <h3 class="text-2xl text-white font-bold">Fallos:</h3>
            {launch?.failures.map((failure) => (
              <p class="text-lg text-gray-300">- {failure.reason}</p>
            ))}
          </div>
        )
      }
    </div>
  </article>
</MainLayout>
